# Ignore everything
*

# But not these files..
!.gitignore
!environment.yml
!sentinelsat_ftp.py
!sentinelsat_functions.py
!sentinelsat_glacier_definitions.py
!sentinelsat_process_script.py
!prom_total_man_corr_v2b.shp
!prom_total_man_corr_v2b.dbf
!prom_total_man_corr_v2b.prj
!prom_total_man_corr_v2b.qpj
!prom_total_man_corr_v2b.shx